:root {
    --primary: #1ea7ff;
    --dark: #374151;
    --light: #8b96a5;
    --white: #ffffff;
    --bg: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--bg);
}

.navbar {
    width: 100%;
    background: var(--white);
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 38px;
    font-weight: bold;
    color: var(--dark);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark);
    font-size: 18px;
}

.menu-btn {
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    display: none;
}

.mobile-menu {
    position: absolute;
    top: 60px;
    right: 0;
    width: 220px;
    height: 100vh;
    background: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
}

.menu-btn:focus .mobile-menu {
    display: flex;
}

.hero {
    width: 100%;
    min-height: 85vh;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 65px;
    line-height: 1.2;
    color: var(--dark);
    margin-bottom: 20px;
}

.hero-text span {
    color: var(--primary);
}

.hero-text p {
    font-size: 24px;
    line-height: 1.6;
    color: var(--light);
    margin-bottom: 40px;
}

.service-btn {
    border: none;
    background: var(--primary);
    color: var(--white);
    padding: 22px 45px;
    border-radius: 18px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.service-btn:hover{
    transform: rotate(-18deg);
}
.hero-image {
    width: 50%;
    text-align: center;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
}

@media(max-width:1024px) {

    .hero-text h1 {
        font-size: 50px;
    }

    .hero-text p {
        font-size: 20px;
    }

    .nav-links {
        gap: 20px;
    }
}

@media(max-width:768px) {

    .navbar {
        padding: 20px;
    }

    .nav-links {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .hero {
        flex-direction: column;
        padding: 40px 20px;
    }

    .hero-text {
        width: 100%;
    }

    .hero-image {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 45px;
    }

    .hero-text p {
        font-size: 18px;
    }
}

@media(max-width:480px) {

    .logo {
        font-size: 30px;
    }

    .hero-text h1 {
        font-size: 34px;
    }

    .hero-text p {
        font-size: 16px;
    }

    .service-btn {
        width: 100%;
        padding: 20px;
        font-size: 18px;
    }

    .hero-image img {
        max-width: 300px;
    }
}